<script type="text/javascript">
  head.ready(function() {
    game.init(<%= game.player_commands(session[:id]).to_json %>);
  });
</script>


<div id="header">
  <div id="time_remaining" style="display:none">Time remaining: <span></span></div>
  <div id="status"></div>
</div>

<div id="board">
  <table>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<div id="game_info">

  <div id="players">
    <p>Players</p>
    <ul>
      <%# <li>Nathan</li> %>
      <%# <li>guantes</li> %>
    </ul>
  </div>

  <div id="words" style="display:none;">
    <p>Words</p>
    <ul>
      <%# <li>foo</li> %>
      <%# <li>bar</li> %>
      <%# <li>baz</li> %>
      <%# <li>mumble</li> %>
      <%# <li class="waiting">blah</li> %>
      <%# <li class="invalid">wrong</li> %>
    </ul>
  </div>

  <div id="word_form" style="display:none;">
    <form>
      <input type="text" name="found" placeholder="words go here --> O:">
    </form>
  </div>

  <div id="scores" style="display:none;">
    <p>Scores</p>
    <ul>
      <%# <li> %>
      <%#   <p>nathan <span class="score">380</span></p> %>
      <%#   <ul class="words"> %>
      <%#     <li>foo</li> %>
      <%#     <li>foo</li> %>
      <%#     <li>foo</li> %>
      <%#     <li class="canceled">foo</li> %>
      <%#     <li class="canceled">foo</li> %>
      <%#     <li class="canceled">foo</li> %>
      <%#     <li class="canceled">foo</li> %>
      <%#     <li class="canceled">foo</li> %>
      <%#   </ul> %>
      <%# </li> %>
      <%# <li> %>
      <%#   <p>guantes <span class="score">271</span></p> %>
      <%#   <ul class="words" class="clearfix"> %>
      <%#     <li>foo</li> %>
      <%#     <li>foo</li> %>
      <%#     <li>foo</li> %>
      <%#     <li class="canceled">foo</li> %>
      <%#     <li class="canceled">foo</li> %>
      <%#     <li class="canceled">foo</li> %>
      <%#     <li class="canceled">foo</li> %>
      <%#     <li class="canceled">foo</li> %>
      <%#   </ul> %>
      <%# </li> %>
    </ul>
  </div>

  <div id="vote" style="display:none;">
    <p>Vote</p>
    <p id="word"><%# mumdng %></p>
    <div id="vote_buttons">
      <button type="button" name="yes" class="vote yes">Yes</button>
      <button type="button" name="no" class="vote no">No</button>
    </div>
  </div>

  <div id="votes" style="display:none;">
    <p>Votes</p>
    <ul>
      <%# <li>sargon</li> %>
      <%# <li class="yes">nathan</li> %>
      <%# <li class="no">guantes</li> %>
    </ul>
  </div>
</div>


<div>
  <pre>
  <%= require 'pp'; h game.pretty_inspect %>
  </pre>
</div>
