<div id="board">
  <table>
    <tr>
      <td>I</td>
      <td>E</td>
      <td>A</td>
      <td>D</td>
      <td>R</td>
    </tr>
    <tr>
      <td>S</td>
      <td>Qu</td>
      <td>N</td>
      <td>E</td>
      <td>D</td>
    </tr>
    <tr>
      <td>N</td>
      <td>R</td>
      <td>O</td>
      <td>A</td>
      <td>C</td>
    </tr>
    <tr>
      <td>A</td>
      <td>U</td>
      <td>E</td>
      <td>E</td>
      <td>S</td>
    </tr>
    <tr>
      <td>P</td>
      <td>A</td>
      <td>D</td>
      <td>O</td>
      <td>O</td>
    </tr>
  </table>
</div>
